In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# 1. Read the three csv files which contains the score of same students in term1 for each Subject
df_math_scores = pd.read_csv("MathScoreTerm1.csv")
df_ds_score = pd.read_csv("DSScoreTerm1.csv")
df_physics_score = pd.read_csv("PhysicsScoreTerm1.csv")

print(df_math_scores.head())
print(df_ds_score.head())
print(df_physics_score.head())


# 2. Remove the name and ethnicity column (to ensure confidentiality)
del df_math_scores["Name"]
del df_math_scores["Ethinicity"]

del df_ds_score["Name"]
del df_ds_score["Ethinicity"]

del df_physics_score["Name"]
del df_physics_score["Ethinicity"]

print(df_math_scores.head())
print(df_ds_score.head())
print(df_physics_score.head())


# 3. Fill missing score data with zero
df_math_scores.fillna(0)
df_ds_score.fillna(0)
df_physics_score.fillna(0)

print(df_math_scores.head())
print(df_ds_score.head())
print(df_physics_score.head())


# 4. Merge the three files
merged_df = df_math_scores.merge(df_ds_score, on="ID", suffixes=(
    '_math', '_ds')).merge(df_physics_score, on="ID", suffixes=('_ds', '_physics'))
merged_df_filter_cols = merged_df.filter(["ID", "Score_math", "Score_ds", "Score", "Age_math","Sex"]).rename(
    columns={"Score": "Score_physics", "Age_math": "Age"})

print(merged_df_filter_cols)


# 5. Change Sex(M/F) Columnto 1/2 for further analysis

merged_df_filter_cols["Sex"] = [1 if sex == "M" else 2 for sex in merged_df_filter_cols["Sex"]]
print(merged_df_filter_cols)


# 6. Change Sex(M/F) Columnto 1/2 for further analysis
merged_df_filter_cols.to_csv("ScoreFinal.csv")

             Name  Score  Age         Ethinicity Subject Sex  ID
0  AI-KYUNG CHUNG   88.0   18     White American   Maths   M   1
1     ALAN HARVEY   85.0   19  European American   Maths   M   2
2    ALAN REYNAUD   45.0   19  European American   Maths   M   3
3  ALBERT CENDANA   82.0   18     White American   Maths   M   4
4  ALBERT HOLT JR   82.0   18     White American   Maths   F   5
             Name  Score  Age         Ethinicity        Subject Sex  ID
0  AI-KYUNG CHUNG   82.0   18     White American  Data Structue   M   1
1     ALAN HARVEY   79.0   19  European American  Data Structue   M   2
2    ALAN REYNAUD   39.0   19  European American  Data Structue   M   3
3  ALBERT CENDANA   76.0   18     White American  Data Structue   M   4
4  ALBERT HOLT JR   76.0   18     White American  Data Structue   F   5
             Name  Score  Age         Ethinicity  Subject Sex  ID
0  AI-KYUNG CHUNG   84.0   18     White American  Physics   M   1
1     ALAN HARVEY   81.0   19  European American  Physics   M   2
2    ALAN REYNAUD   41.0   19  European American  Physics   M   3
3  ALBERT CENDANA   78.0   18     White American  Physics   M   4
4  ALBERT HOLT JR   78.0   18     White American  Physics   F   5
   Score  Age Subject Sex  ID
0   88.0   18   Maths   M   1
1   85.0   19   Maths   M   2
2   45.0   19   Maths   M   3
3   82.0   18   Maths   M   4
4   82.0   18   Maths   F   5
   Score  Age        Subject Sex  ID
0   82.0   18  Data Structue   M   1
1   79.0   19  Data Structue   M   2
2   39.0   19  Data Structue   M   3
3   76.0   18  Data Structue   M   4
4   76.0   18  Data Structue   F   5
   Score  Age  Subject Sex  ID
0   84.0   18  Physics   M   1
1   81.0   19  Physics   M   2
2   41.0   19  Physics   M   3
3   78.0   18  Physics   M   4
4   78.0   18  Physics   F   5
   Score  Age Subject Sex  ID
0   88.0   18   Maths   M   1
1   85.0   19   Maths   M   2
2   45.0   19   Maths   M   3
3   82.0   18   Maths   M   4
4   82.0   18   Maths   F   5
   Score  Age        Subject Sex  ID
0   82.0   18  Data Structue   M   1
1   79.0   19  Data Structue   M   2
2   39.0   19  Data Structue   M   3
3   76.0   18  Data Structue   M   4
4   76.0   18  Data Structue   F   5
   Score  Age  Subject Sex  ID
0   84.0   18  Physics   M   1
1   81.0   19  Physics   M   2
2   41.0   19  Physics   M   3
3   78.0   18  Physics   M   4
4   78.0   18  Physics   F   5
      ID  Score_math  Score_ds  Score_physics  Age Sex
0      1        88.0      82.0           84.0   18   M
1      2        85.0      79.0           81.0   19   M
2      3        45.0      39.0           41.0   19   M
3      4        82.0      76.0           78.0   18   M
4      5        82.0      76.0           78.0   18   F
..   ...         ...       ...            ...  ...  ..
594  595        45.0      39.0           41.0   19   F
595  596        75.0      69.0           71.0   18   M
596  597        53.0      47.0           49.0   20   M
597  598        75.0      69.0           71.0   20   M
598  599        88.0       NaN           69.0   19   M

[599 rows x 6 columns]
      ID  Score_math  Score_ds  Score_physics  Age  Sex
0      1        88.0      82.0           84.0   18    1
1      2        85.0      79.0           81.0   19    1
2      3        45.0      39.0           41.0   19    1
3      4        82.0      76.0           78.0   18    1
4      5        82.0      76.0           78.0   18    2
..   ...         ...       ...            ...  ...  ...
594  595        45.0      39.0           41.0   19    2
595  596        75.0      69.0           71.0   18    1
596  597        53.0      47.0           49.0   20    1
597  598        75.0      69.0           71.0   20    1
598  599        88.0       NaN           69.0   19    1

[599 rows x 6 columns]