In [ ]:
!wget https://raw.githubusercontent.com/nachikethmurthy/Source-Code-Dataset-for-Machine-Learning-using-Python/main/Data/store_data.csv

--2023-01-13 02:08:11--  https://raw.githubusercontent.com/nachikethmurthy/Source-Code-Dataset-for-Machine-Learning-using-Python/main/Data/store_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 302908 (296K) [text/plain]
Saving to: ‘store_data.csv’

store_data.csv      100%[===================>] 295.81K  --.-KB/s    in 0.02s

2023-01-13 02:08:11 (14.1 MB/s) - ‘store_data.csv’ saved [302908/302908]

In [ ]:
file_data = open('store_data.csv','rt')
store_data = file_data.read()
file_data.close()

In [ ]:
s = 'welcome, to, data, science\nthis,is,class1,\nhello'
r = s.split('\n')
r

['welcome, to, data, science', 'this,is,class1,', 'hello']

In [ ]:
for v in r:
  print(v.split(','))

['welcome', ' to', ' data', ' science']
['this', 'is', 'class1', '']
['hello']

In [ ]:
[v.split(',') for v in r]

[['welcome', ' to', ' data', ' science'],
 ['this', 'is', 'class1', ''],
 ['hello']]

In [ ]:
store_data = store_data.split("\n")
store_data[:3]

['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil',
 'burgers,meatballs,eggs',
 'chutney']

In [ ]:
store_data = [element.split(',') for element in store_data]
store_data[:3]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers', 'meatballs', 'eggs'],
 ['chutney']]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
encoder = TransactionEncoder()
encoder.fit(store_data)
transformed_data = encoder.transform(store_data)
transformed_data

array([[False, False,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False],
       [ True, False, False, ..., False, False, False]])

In [ ]:
transformed_data = transformed_data.astype("int")

In [ ]:
encoder.columns_

In [ ]:
import pandas as pd
transformed_df = pd.DataFrame(transformed_data, columns=encoder.columns_)
transformed_df.head()

,,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,0,1,1,0,1,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
frequent_itemsets = apriori(transformed_df, min_support=0.01, use_colnames=True )
frequent_itemsets

      support                                 itemsets
0    0.020395                                (almonds)
1    0.033324                                (avocado)
2    0.010797                         (barbecue sauce)
3    0.014263                              (black tea)
4    0.011464                             (body spray)
..        ...                                      ...
252  0.011064       (ground beef, milk, mineral water)
253  0.017062  (ground beef, spaghetti, mineral water)
254  0.015729         (spaghetti, milk, mineral water)
255  0.010264    (olive oil, spaghetti, mineral water)
256  0.011464     (pancakes, spaghetti, mineral water)

[257 rows x 2 columns]

In [ ]:
frequent_itemsets.sort_values('support', ascending=False)

      support                                  itemsets
46   0.238336                           (mineral water)
19   0.179685                                    (eggs)
63   0.174087                               (spaghetti)
24   0.170888                            (french fries)
13   0.163823                               (chocolate)
..        ...                                       ...
255  0.010264     (olive oil, spaghetti, mineral water)
123  0.010131                         (chocolate, soup)
246  0.010131        (ground beef, eggs, mineral water)
249  0.010131  (spaghetti, french fries, mineral water)
175  0.010131       (low fat yogurt, frozen vegetables)

[257 rows x 2 columns]

In [ ]:
len(frequent_itemsets)

257

In [ ]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.25)
rules.sort_values('lift',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
23,(herb & pepper),(ground beef),0.049453,0.098240,0.015996,0.323450,3.292433,0.011137,1.332880
87,"(spaghetti, mineral water)",(ground beef),0.059717,0.098240,0.017062,0.285714,2.908316,0.011195,1.262463
86,"(ground beef, mineral water)",(spaghetti),0.040922,0.174087,0.017062,0.416938,2.395000,0.009938,1.416510
80,"(mineral water, frozen vegetables)",(milk),0.035724,0.129565,0.011064,0.309701,2.390309,0.006435,1.260954
33,(soup),(milk),0.050520,0.129565,0.015196,0.300792,2.321541,0.008650,1.244886
...,...,...,...,...,...,...,...,...,...
30,(low fat yogurt),(mineral water),0.076513,0.238336,0.023994,0.313589,1.315740,0.005758,1.109632
17,(fresh bread),(mineral water),0.043055,0.238336,0.013330,0.309598,1.298994,0.003068,1.103217
44,(turkey),(mineral water),0.062517,0.238336,0.019195,0.307036,1.288247,0.004295,1.099139
15,(eggs),(mineral water),0.179685,0.238336,0.050920,0.283383,1.189003,0.008094,1.062860
3,(burgers),(mineral water),0.087177,0.238336,0.024393,0.279817,1.174040,0.003616,1.057597

In [ ]:
import numpy as np
x = np.array([1,2,3,4,5]).reshape(5,1) # min=0 & max 1
from sklearn.preprocessing import MinMaxScaler
min = MinMaxScaler()
min.fit_transform(x)

array([[0.  ],
       [0.25],
       [0.5 ],
       [0.75],
       [1.  ]])

In [ ]:
(x-np.mean(x))/np.std(x)

array([[-1.41421356],
       [-0.70710678],
       [ 0.        ],
       [ 0.70710678],
       [ 1.41421356]])

In [ ]:
np.mean(x)

3.0

In [ ]:
np.std(x)

1.4142135623730951

# Recommendation Engines

In [ ]:
!wget https://www.dropbox.com/s/tniay06wl07ko7u/ratings.csv
!wget https://www.dropbox.com/s/3ge1ha1buiwj2y4/movies.csv

--2023-01-16 01:55:34--  https://www.dropbox.com/s/tniay06wl07ko7u/ratings.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.7.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.7.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/tniay06wl07ko7u/ratings.csv [following]
--2023-01-16 01:55:34--  https://www.dropbox.com/s/raw/tniay06wl07ko7u/ratings.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc45c76704b5a27d9e0b3c978038.dl.dropboxusercontent.com/cd/0/inline/B0rxVMot6KZWnkywcJohz7zZFwz-2dzjxCkVs7Z4jVVwyvzQoxjI_LvD3a-gRWuwBp9fhDmwAdzgAAcIqmJDagdOmpq0SYImGRWocYtY63B2VHTpsfziaqUCJHfz9ZL8pCtCFqnRP4BZ6oBWuSFXSPY0lbBEho-6us4bFi1hGEeEkQ/file# [following]
--2023-01-16 01:55:35--  https://uc45c76704b5a27d9e0b3c978038.dl.dropboxusercontent.com/cd/0/inline/B0rxVMot6KZWnkywcJohz7zZFwz-2dzjxCkVs7Z4jVVwyvzQoxjI_LvD3a-gRWuwBp9fhDmwAdzgAAcIqmJDagdOmpq0SYImGRWocYtY63B2VHTpsfziaqUCJHfz9ZL8pCtCFqnRP4BZ6oBWuSFXSPY0lbBEho-6us4bFi1hGEeEkQ/file
Resolving uc45c76704b5a27d9e0b3c978038.dl.dropboxusercontent.com (uc45c76704b5a27d9e0b3c978038.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:601c:15::a27d:60f
Connecting to uc45c76704b5a27d9e0b3c978038.dl.dropboxusercontent.com (uc45c76704b5a27d9e0b3c978038.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2483723 (2.4M) [text/plain]
Saving to: ‘ratings.csv’

ratings.csv         100%[===================>]   2.37M  --.-KB/s    in 0.05s

2023-01-16 01:55:35 (48.4 MB/s) - ‘ratings.csv’ saved [2483723/2483723]

--2023-01-16 01:55:35--  https://www.dropbox.com/s/3ge1ha1buiwj2y4/movies.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.7.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.7.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/3ge1ha1buiwj2y4/movies.csv [following]
--2023-01-16 01:55:36--  https://www.dropbox.com/s/raw/3ge1ha1buiwj2y4/movies.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc90b49c8b7355676bf6b3fa0843.dl.dropboxusercontent.com/cd/0/inline/B0qyZDYKufBBAeUdMNN1JgE6fgZ_LuaL1tMNLJJrP1jQRr9ou0yYjbQnFzklh7liiffeKB9Bu-M17iQ2Z2e8M9Edy5V0S0stUlCKgh0P-ha5Kem5GMJBiMZwGAtgVZlpfnQKWLANtE1Qd30fRwHXyxNrWUTaDQLs29Uq0K0cN-Zp_A/file# [following]
--2023-01-16 01:55:36--  https://uc90b49c8b7355676bf6b3fa0843.dl.dropboxusercontent.com/cd/0/inline/B0qyZDYKufBBAeUdMNN1JgE6fgZ_LuaL1tMNLJJrP1jQRr9ou0yYjbQnFzklh7liiffeKB9Bu-M17iQ2Z2e8M9Edy5V0S0stUlCKgh0P-ha5Kem5GMJBiMZwGAtgVZlpfnQKWLANtE1Qd30fRwHXyxNrWUTaDQLs29Uq0K0cN-Zp_A/file
Resolving uc90b49c8b7355676bf6b3fa0843.dl.dropboxusercontent.com (uc90b49c8b7355676bf6b3fa0843.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to uc90b49c8b7355676bf6b3fa0843.dl.dropboxusercontent.com (uc90b49c8b7355676bf6b3fa0843.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 494431 (483K) [text/plain]
Saving to: ‘movies.csv’

movies.csv          100%[===================>] 482.84K  --.-KB/s    in 0.007s

2023-01-16 01:55:36 (63.6 MB/s) - ‘movies.csv’ saved [494431/494431]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

In [ ]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
movies_df.shape

(9742, 3)

In [ ]:
movies_df.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
movies_df.shape

(9742, 3)

In [ ]:
len(set(movies_df['movieId']))

9742

In [ ]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
set(ratings_df['rating'])

{0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0}

In [ ]:
user_df = ratings_df.pivot(index='userId', columns='movieId', values='rating')
user_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
user_df.fillna(value=0, inplace=True)
user_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
user_sim = cosine_similarity(user_df)
user_sim

array([[1.        , 0.02728287, 0.05972026, ..., 0.29109737, 0.09357193,
        0.14532081],
       [0.02728287, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05972026, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       ...,
       [0.29109737, 0.04621095, 0.02112846, ..., 1.        , 0.12199271,
        0.32205486],
       [0.09357193, 0.0275654 , 0.        , ..., 0.12199271, 1.        ,
        0.05322546],
       [0.14532081, 0.10242675, 0.03211875, ..., 0.32205486, 0.05322546,
        1.        ]])

In [ ]:
user_sim_df = pd.DataFrame(user_sim, columns = user_df.index, index = user_df.index)
user_sim_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [ ]:
import numpy as np
np.fill_diagonal(user_sim,0)

In [ ]:
user_sim_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,0.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,0.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,0.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,0.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [ ]:
user_sim_df.idxmax(axis=1).head()

userId
1    266
2    366
3    313
4    391
5    470
dtype: int64

In [ ]:
# Pearson correlation
# KNN

# Content Based Collaborative Filtering

In [ ]:
movies_df = ratings_df.pivot(index='movieId', columns='userId', values='rating')
movies_df.fillna(value=0, inplace=True)
movies_sim = cosine_similarity(movies_df)
np.fill_diagonal(movies_sim,0)
movies_sim_df = pd.DataFrame(movies_sim, columns = movies_df.index, index = movies_df.index)
movies_sim_df.idxmax(axis=1).head()

movieId
1    3114
2     364
3    3450
4     113
5       7
dtype: int64

In [ ]:
movies_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movies_df.shape

(9724, 610)

In [ ]:
movies_sim_df.shape

(9724, 9724)

In [ ]:
movies_sim_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.410562,0.296917,0.035573,0.308762,0.376316,0.277491,0.131629,0.232586,0.395573,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.410562,0.000000,0.282438,0.106415,0.287795,0.297009,0.228576,0.172498,0.044835,0.417693,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.296917,0.282438,0.000000,0.092406,0.417802,0.284257,0.402831,0.313434,0.304840,0.242954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035573,0.106415,0.092406,0.000000,0.188376,0.089685,0.275035,0.158022,0.000000,0.095598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.308762,0.287795,0.417802,0.188376,0.000000,0.298969,0.474002,0.283523,0.335058,0.218061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df1 = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df1

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [ ]:
df1.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [ ]:
# X --> float, float, categorical, float
# Training --> Standard scaler
# Label Encoder


# During prediction
# StandardScaler
# Label Encoder
# predict